*{
    padding: 0%;
    margin: 0%;
}
/* p1.html */
.container{
    background-color: lightgray;
    padding: 20px;
    display: grid;
    /* grid-template-rows: 200px; */
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.container>.item{
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    box-shadow:  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
/* p2.html */
.card{
    padding: 20px;
    box-shadow:  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.card>img, .item1>img{
    width: 100%;
}
.card>article, .item3>p{
    text-align: justify;
    line-height: 2;
}
.card>button , .item2>button{
    padding: 20px;
    background-color: grey;
    color: #fff;
    width: 100%;
}
/* p3.html */
.item1{
    grid-row-start: 1;
    grid-row-end: 2;/*closing before the 2nd row */
    grid-column-start: 2;
    grid-column-end: 3;/*closing before the 4th col */
}
.item2{
    grid-row-start: 1;
    grid-row-end: 2;/*closing before the 2nd row */
    grid-column-start: 3;
    grid-column-end: 4;/*closing before the 2nd col */
}
.item3{
    grid-row-start: 1;
    grid-row-end: 2;/*closing before the 2nd row */
    grid-column-start: 1;
    grid-column-end: 2;/*closing before the 3rd col */
}
/* p4.html */
#p4>.item:first-child{
    grid-row-start: 1;
    grid-row-end:span 5;
    grid-column-start: 1;
    grid-column-end: span 2;

}
/* p5.html */
.container>header, .container>article, .container>aside, .container>footer{
    background-color: brown;
    padding: 20px;
    color:#fff;
    text-align: justify;
    line-height: 2;
}
.container>header{
    text-align: 3px 3px 5px #000;
    font-size: 20px;
    grid-area: header;
}
.container>footer{
    text-align: center;
    font-size: 20px;
    grid-area: footer;
}
.container>article{
    grid-area: article;
}
.container>#left{
    grid-area:left;
}
.container>#right{
    grid-area: right;
}
#project{
    grid-auto-rows: 100px 1fr 100px;
    grid-template-columns: 20% 1fr 20%;
    grid-template-areas: "header header header" "left article right" "left footer footer";
}
/* p6.html */
.gallery>img{
    max-width: 100%;
}
.gallery>img:nth-child(odd){
    grid-column: span 2;
    grid-row: span 3;
}
.gallery{
    grid-template-columns: repeat(auto-fill, minmax(250,1fr));
}