/* MOBILE VERSION */
@media(max-width:768px){
    header{
        background-color:teal;
        padding: 20px;
    }
    header>nav{
        text-align: center;
    }
    header>nav>ul{
        float: none;
    }
    header>nav>ul>li{
        display:block;
    }
}
/* TABLET VERSION */
@media(min-width:769px) and (max-width:1200px){
    header{
        background-color: aqua;
        padding: 20px;
    }
    header>nav{
        text-align: center;
    }
    header>nav>ul{
        float:none;
    }
}